vgcore.*
*.so
*.swp
*.swo
*.core
*.o
*.pdf
*.a
*.o.fPIC
*.~
*.gz
.gdb_history
*.d
*.jpg
*.png
*.war
*.jar
*.class
*.iso
a.out
0
Makefile.in
.syntastic_config
.classpath
.project
*.iml
*.idea
out
flatset
Makefile.rules
check
